/*--------------------------
GLOBAL STYLING
--------------------------*/

html, * {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*--------------------------
BASIC LAYOUT
--------------------------*/
.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.container {
  /* max-width: 1000px; */
  display: grid;
  grid-gap: 1.2em;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
}

.budget-form {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 2em;
}

/* Layout Media Queries*/

@media (max-width: 952px) {
  .budget-form {
      grid-column-start: 1;
      grid-column-end: -1;
    }
}

/*--------------------------
OVERRIDE BROWSER STYLING
--------------------------*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label .label {
  marginRight: .5em;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover,
a:focus {
  color: #f84848;
}
